<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a2c86dd3-6544-4d61-ac2b-2172499ecff5/resourcegroups/AzureToolkitResourceGroup/providers/Microsoft.Web/sites/AzurePlaygroundMvcDemo20180917102205</ResourceId>
    <ResourceGroup>AzureToolkitResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azureplaygroundmvcdemo20180917102205.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>azureplaygroundmvcdemo20180917102205.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzurePlaygroundMvcDemo20180917102205</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AzurePlaygroundMvcDemo20180917102205</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NorthwindContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:azuretoolkit-westfaliatraining.database.windows.net,1433;Initial Catalog=AzurePlaygroundMvcDemo20180917102205_db;User ID=atk_westfaliausa_admin@azuretoolkit-westfaliatraining;Password=&quot;i'm USING a REALLY secure PASSWORD right? :)&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AzurePlayground.Model.NorthwindContext, AzurePlayground.Model" MigrationConfiguration="AzurePlayground.Model.Migrations.Configuration, AzurePlayground.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NorthwindContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:azuretoolkit-westfaliatraining.database.windows.net,1433;Initial Catalog=AzurePlaygroundMvcDemo20180917102205_db;User ID=atk_westfaliausa_admin@azuretoolkit-westfaliatraining;Password="i'm USING a REALLY secure PASSWORD right? :)"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>